div {
    display: inline-block;
    width: 10px;
    height: 5px;
    padding: 40px;
    outline: solid black;
    margin : 20px ;
    background-color: rgb(157, 157, 157);
}  
.shape-1{
    
    border: solid red 10px;
}
.shape-2{
    border-style: solid ;
    border-width:10px ;
    border-color: green blue green blue ;
}
.shape-3{
    border-color : yellow red green blue ;
    border-width: 10px;
    border-style: dashed;
}
