div{
    display:inline-block;



    margin: 10px;
    max-height: 200px;
    color: white;
   
    max-width: 250px;

}

div p{
    background-color: #a42c2c;
   
}

p.p1{
     
    width: fit-content;
 
}
p.p2{
     
    width: fit-content;
 
}
p.p3{

     
    width: fit-content;
 
}

p.p4{
    overflow:hidden;
}





