div{
    width:500px;
    display: block;

}
.shape-1{
    border-left-color:red ;
    border-left-style:solid ;
}
.shape-2{
    
    visibility: none;
}
.shape-3{
    border-left-color:green ;
    border-left-style:solid ;
 }